div {
  text-align: center;
}

h3 {
  color: rgb(40, 191, 40);
}

.link {
  color: blue;
}

.link:hover {
  color: rgb(209, 29, 209);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
